<div class="page-header">
  <h1>About the Competition</h1>
</div>

<p>The Formula Hybrid International Competition challenges undergraduates and graduate students to design and build hybrid racecars and compete in a multi-event program. The single-seat racecar must conform to a set of rules that emphasize, encourage, and promote drivetrain innovation and fuel efficiency. The competition is sanctioned by the Society of Automotive Engineers (SAE) and the Institute of Electrical and Electronics Engineers (IEEE).</p>
<p>The Formula Hybrid competition builds upon the highly successful Formula SAE program by adding a new layer of complexity. Like Formula SAE events, the Hybrid competition includes autocross, endurance events, an acceleration test, and judging of car design and marketing presentations. But in addition, Formula Hybrid demands completion of all events on a fixed amount of fuel, a challenge that proves difficult to master. The competition gives teams the opportunity to demonstrate and test their solutions and green new ideas of the future.</p>
