<div class="page-header">
  <h1>ERAU Motorsports</h1>
</div>

<p>Welcome to the Embry-Riddle Formula Hybrid Team homepage. We design and build a formula style, open wheel, open cockpit, single seat hybrid-electric vehicle. The team is comprised entirely of undergraduate students at Embry-Riddle Aeronautical University. We are a student operated venture that is funded by sponsorship support. For the 2011 year, the team ambitiously designed a complete carbon fiber monocoque chassis, a formula hybrid first, and fabricated a complete composite suspension.  For the 2011-2012 race year the team is focusing on a radical re-design of the vehicle's high voltage electrical system, optimization of existing vehicle structures and systems, and increasing the consumer acceptability.</p>
<p>We would like to thank all of our sponsors; without their donations funding, components, time, and resources,  this year could not happened. As always, we look back on this past year with great pride and look forward to future successes.</p>
