<div class="page-header">
  <h1>Sponsorship Info</h1>
</div>

<p>Embry-Riddle Formula Hybrid welcomes all forms of sponsorship including: monetary, materials, and resources. Funds provide the team the opportunity to maintain purchase vehicle and manufacturing components, shop equipment,   and ultimately,  compete in the annual SAE Formula Hybrid Competition in New Hampshire. Donations of materials, equipment, and labor are equally appreciated and provide the team with educational experience and inspire creativity and the tradition of innovative design.</p>
<p>Sponsors receive various benefits. For more information on sponsoring the team please see our sponsorship packet.</p>
