<div class="page-header">
  <h1>Our Team</h1>
</div>

<p>At Embry-Riddle, our team is comprised of and entirely run by undergraduate students pursuing degrees in Mechanical and Aerospace Engineering. The team welcomes any level of experience, and is unique in the sense that it allows undergraduate students to collaborate alongside senior design members as they take the vehicle from the initial levels of design to manufacturing and fabrication. The practical experience in industry methods gained from participating in this project is invaluable to the  students on our team.</p>
<p>Any individuals wishing to join the team should stop by the Manufacturing Lab (LB182) located in the Lehman Building during  meeting times. Our meeting times are Monday, Wednesday, and Friday at 7:00 P.M. Please feel free to email us at contact@ERAUmotorsports.com with any questions or interests.</p>
